@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


// Mixins
@mixin flexBox($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items:$align;
    flex-direction:$direction;
}

// Variables
// Primary colors
$paleBlue:hsl(225, 100%, 94%);
$brightBlue:hsl(245, 75%, 52%);
// Secondary
$paleBlue2:hsl(225, 100%, 98%);
$desaturatedBlue:hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
// Font
$fontFam :'Red Hat Display', sa;


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: $fontFam;
}
main{
    height: 100vh;
    @include flexBox(center,center,column);
    background: url('./images/pattern-background-desktop.svg') no-repeat ;
}
a, input{
    cursor: pointer;
}
/*
 *  
 *   ##Device = Most of the Smartphones Mobiles (Portrait)
 *   ##Screen = 320px to 479px
 */

 @media (min-width: 240px) and (max-width: 480px) {
 main{
    background:url('./images/pattern-background-mobile.svg') no-repeat fill;
 }
}

.card-container{
    width: 370px;
    border-radius: 15px;
    box-shadow: 1px 3px 8px 1px rgba(5, 5, 5, 0.219);
    background-color: white;
    padding-bottom: 2rem;
    overflow: hidden;
    @include flexBox(center,center ,column);
    text-align: center;
    h2{
        margin:2rem 0rem 1rem 0rem;
    }
    p{
        color: grey;
        padding:0rem 1rem;
        line-height: 1.5;
    }
    img{
        width: 100%;
        height:40%;
    }
    .card-plan{
        @include flexBox(space-between, center ,row );
        padding:1rem;
        margin: 1rem 0rem;
        background-color: rgba(173, 166, 166, 0.096);
        border-radius: 15px;
        width: 85%;


    
    .planDescript{
     @include flexBox(center, center ,row );
    .planText{
        margin-left: .5rem;
    }
    }

    a{
        color:$brightBlue;
        text-decoration: underline;
    }
    a:hover{
        text-decoration: none;
        color: $desaturatedBlue;
    }
    }



    .pay-btn{
        width: 100%;
        input[type=button]{
            width: 85%;
            padding:.8rem 0rem;
            border-radius: 10px;
            border: none;
            color: white;
            background-color: $brightBlue;
            font-weight: 700;
            box-shadow: 2.5px 3px 8px  rgba(0, 0, 0, 0.411);
            margin: 1rem 0rem 1.5rem 0rem;
         
        }
        input[type=button]:hover{
            background-color: $desaturatedBlue;
        }

    }
    a{
        color: grey;
        font-weight: 700;
        text-decoration: none;
    }
    a:hover{
        color: $darkBlue;
    }
}