@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


// Mixins
@mixin flexBox($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items:$align;
    flex-direction:$direction;
}

// Variables
// Primary colors
$paleBlue:hsl(225, 100%, 94%);
$brightBlue:hsl(245, 75%, 52%);
// Secondary
$paleBlue2:hsl(225, 100%, 98%);
$desaturatedBlue:hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
// Font
$fontFam :'Red Hat Display', sa;


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $fontFam;
}
main{
    height: 100vh;
    @include flexBox(center,center,column);
    background: url('./images/pattern-background-desktop.svg') no-repeat ;
}
/*
 *  
 *   ##Device = Most of the Smartphones Mobiles (Portrait)
 *   ##Screen = 320px to 479px
 */

 @media (min-width: 240px) and (max-width: 480px) {
 main{
    background:url('./images/pattern-background-mobile.svg') no-repeat fill;
 }
}

.card-container{
    width: 350px;
    border-radius: 15px;
    box-shadow: 2.5px 2.5px 4px rgba(5, 5, 5, 0.205);
    padding-bottom: 1.8rem;
    overflow: hidden;
    @include flexBox(center,center ,column);
    text-align: center;
    h1{
        margin:1rem 0rem;
    }
    p{
        color: grey;
    }
    .card-plan{
        @include flexBox(space-between, center ,row );
        padding:1rem 0rem;
    .planDescript{
     @include flexBox(center, center ,row )
    }
    }
}